@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
	font-family: "Quicksand", serif;
	/* font-optical-sizing: auto; */
	font-weight: 400;
	font-style: normal;
}

/* Shared Styles */
body{
	margin: 0;
	padding: 0;	
}

/* Check overflow issue using the below code */
/* *{
	border: 4px solid red;
}
body {
	border: 4px solid green; 
} */

a{
	text-decoration: none;
}
.display-flex {
	display: flex;	
}

.text-white {
	color: #ffffff;
}

.text-black {
	color: #111111;
}

.text-orange {
	color: #fea301;
}

.text-skyblue {
	color: #01acfd;
}

.text-lightblue {
	color: #05d4df;
}

.text-violet {
	color: #5d58ef;
}

.country {
	display: none;
}

.btn{
	font-family: Quicksand;
}

/* Navbar CSS Starts */
.navbar {
	justify-content: space-between;
	align-items: center;

	max-width: 1500px;
	margin: 0 auto;
}

.brand-image {
	/* width: 62px;
	height: 62px; */
	width: 100%;
}

.brand {
	font-size: 2rem;
	font-weight: 700;
}

.div-1 {
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.div-2 {
	margin: 0 auto;
}

.div-2 li {
	list-style: none;
}

.div-2 a {
	text-decoration: none;
}

.btn-contact {
	font-family: Quicksand;
	border: none;
	border-radius: 12px;
	background-color: #fea301;
	width: 200px;
	font-size: 1.25rem;
	font-weight: 500;

	padding: 10px;
}

.btn-contact a{
	color: white;
}

.div-3 {
	margin-left: auto;
}

.icon {
	display: none;
}

.nav-items {
	gap: 30px;
}

.nav-link {
	font-size: 1.25rem;
	font-weight: 700;
}

.horizontal-bar {
	border: 2px solid orange;
	width: auto;
	display: none;
}

/* .new{
	background-image: 
	linear-gradient(to top, rgba(254, 163, 1, 0.8), rgba(255, 255, 255, 0.01)), url('../assets/bg.png');

	background-size: cover;
	background-repeat: no-repeat;
} */

/* Banner CSS Starts */

.banner-container {
	max-width: 1500px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 50px;

	justify-items: center;
	align-items: center;

	margin-top: 20px;
	margin-bottom: 60px;
}

.banner-content {
	max-width: 640px;
}

.banner-title {
	font-size: 3.5rem;
	font-weight: 900;
}

.banner-description {
	font-size: 1.25rem;
	font-weight: 500;
}

.btn-enroll {
	border: none;
	border-radius: 12px;
	background-color: black;
	width: 200px;
	font-size: 1.25rem;
	font-weight: 500;

	color: white;

	padding: 10px;
}

.banner-image {
	/* display: flex;
	justify-content: center;
	align-content: center; */

	margin-right: -255px;
}

/* Marquee CSS Starts */
marquee h3{
	font-size: 1.5rem;
	color: red;
}

/* Curriculum CSS Starts */
.curriculum-section {
	background-image: url("../assets/bg.png");

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	padding-top: 50px;
	padding-bottom: 50px;
}

.curriculum-title {
	font-size: 2.8rem;
	color: black;
	text-align: center;
	margin-bottom: 40px;
}

.curriculum-cards {
	max-width: 1500px;
	margin: 0 auto;
	gap: 40px;

	justify-content: center;
	align-items: center;

	margin-bottom: 50px;
}

.curriculum-card {
	width: 35%;
	height: 50vh;

	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	border-radius: 20px;

	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.curriculum-card img {
	width: auto;
}

.card-1 {
	background: linear-gradient(
		to bottom,
		rgba(222, 245, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

.card-2 {
	background: linear-gradient(
		to bottom,
		rgba(255, 244, 220, 1),
		rgba(255, 255, 255, 0)
	);
}

.card-3 {
	background: linear-gradient(
		to bottom,
		rgba(238, 225, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

.card-title {
	font-size: 1.5rem;
	font-weight: 700;
	color: rgba(32, 32, 32, 1);
}

.card-description {
	color: rgba(128, 128, 128, 1);
}

#read-more-1 {
	color: rgba(100, 200, 255, 1);
	font-weight: 700;
}

#read-more-2 {
	color: rgba(240, 170, 0, 1);
	font-weight: 700;
}

#read-more-3 {
	color: rgba(135, 0, 255, 1);
	font-weight: 700;
}

/* Arrow Container CSS starts */
.arrow-container {
	display: flex;
	gap: 10px;

	justify-content: center;
	align-items: center;

	margin-top: 20px;
	margin-bottom: 80px;
}

/* Our Stories CSS Starts */
.our-stories {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
}

.our-stories-div {
	background-image: linear-gradient(to top,rgba(254, 163, 1, 0.8),rgba(255, 255, 255, 0.01)),url("../assets/bg.png");

	background-size: cover;
	background-repeat: no-repeat;
}

.box-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	max-width: 1500px;
	margin: 0 auto;

	padding-top: 100px;
	padding-bottom: 100px;
}

#box-1 {
	grid-row: span 2;
}

.box {
	background-color: white;
}

.story-card {
	border-radius: 16px;
}

.story-card img {
	border-radius: 16px 16px 0px 0px;
}

.story-card {
	display: flex;
	flex-direction: column;
}

.btn {
	color: white;
	border: none;
	border-radius: 45px;
	padding: 10px 20px;

	font-weight: 500;

	margin-top: -20px;

	width: 50%;
}

.btn-type-1 {
	background-color: #3cd8e8;
	width: 30%;
}

.btn-type-2 {
	background-color: #95b226;
}

.btn-type-3 {
	background-color: #5d58f0;
}

.btn,
.story-card-title-1,
.story-card-title,
.story-card-description {
	margin-left: 30px;
	margin-right: 50px;

	margin-bottom: 30px;
}

.story-card-title {
	margin-bottom: 40px;
}

.story-card-title-1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
}

.story-card-description {
	color: #666666;
}

.story-card-title {
	font-weight: 700;
}

.button-div {
	display: flex;
	justify-content: center;
	align-items: center;

	padding-bottom: 20px;
}

.btn-view-all {
	font-family: Quicksand;
	font-size: 1.25rem;
	font-weight: 700;
	border: none;
	border: 12px;
	background-color: black;

	padding: 10px 20px;

	width: 130px;
	text-align: center;
}

.btn-view-all a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

/* Footer CSS Starts */
footer{
	background-color: #01ACFD;

}

.footer-container{

	/* border: 2px solid tomato; */
	max-width: 1500px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;

	justify-items: space-between;

	gap: 100px;

	
}

.footer-left{
	max-width: 40%;
}

.footer-left,
.footer-middle,
.footer-right{
	display: flex;
	flex-direction: column;
	
}

.footer-div-middle a{
	text-decoration: none;
}

.footer-div-middle h4{
	margin-bottom: 5px;
}

.footer-brand{
	font-size: 2.6rem;
	font-weight: 700;
}

.footer-div-1{
	gap: 10px;
	align-items: center;
	
}

.footer-div-1 div{
	margin-bottom: -20px;
}


.footer-description{
	font-size: 1.25rem;
	margin-left: 10px;
}


.about-school{
	font-size: 1.5rem;
	font-weight: 700;
}

.footer-link{
	color: white;
	font-size: 1.25rem;
	font-weight: 500;
}


.keep-in-touch{
	font-size: 1.6rem;
	
}

.footer-div-middle{
	display: flex;
	flex-direction: column;
	
}

.footer-div-right{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-left: 360px;
}

























/* Media Queries for Mobile Devices */
@media screen and (max-width: 576px) {
	.navbar{
		margin-top: 20px;
	}
	.horizontal-bar {
		display: block;
		width:99%;
	}

	.icon{
		margin-right: 10px;
	}

	.div-4 .icon {
		display: block;
	}

	.brand,
	.div-2,
	.btn-contact {
		display: none;
	}

	.banner-container {
		display: flex;
		flex-direction: column-reverse;
	}

	.banner-content {
		text-align: center;
		width: 90%;
	}

	.banner-title {
		font-size: 2rem;
	}

	.banner-image {
		width:100%;
		/* width: auto; */
		margin-right: 0px;
	}

	.curriculum-title {
		font-size: 1.6rem;
	}

	.curriculum-section {
		background-image: url("../assets/bg.png");
		/* background-repeat: no-repeat; */
		background-position: 100% 100%;
		background-size: cover;

		padding: 50px;
	}

	.curriculum-cards {
		flex-direction: column;
		/* padding: 10px; */
	}

	.curriculum-card {
		width: 90%;
		height: 50%;
	}

	.curriculum-card img {
		width: auto;
	}

	.arrow-container {
		display: none;
	}


	

	.box-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;

		/* padding: 10px; */
	}

	.box-container img {
		width: 100%;
	}

	.btn{
		font-size: 0.9rem;
		width: 70%;
		padding: 10px;
	}

	.btn-view-all{
		width: 30%;
	}

	.btn-type-1 {
		width: auto;
	}

	.btn,
	.story-card-title-1,
	.story-card-title {
		margin-bottom: 10px;
	}

	.story-card-title {
		margin-bottom: 20px;
	}

	#box-1 {
		display: none;
	}

	.story-card {
		height: 100%;
		width: 90%;
		/* margin-left: 10px;
		 */
		margin: 0 auto;
	
	}

	.our-stories-div{
		width: 100%;
	}

	.footer-container{
		flex-direction: column;
		width: 80%;
		margin-left: 50px;

		/* border: 5px solid blueviolet; */
	}

	
	.footer-div-2{
		/* border: 5px solid goldenrod; */
		width: 300px;
		margin-top: 20px;
		
		
	}

	.footer-description{
		/* border: 2px solid green; */
		width: 100%;
		font-size: 1rem;
	}
	
	.footer-div-right{
		max-width: 100%;
		margin: 0 auto;
		margin-left: 0px;
	}
}

.hide {
	display: none;
}
